@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: #f3f3f3;
  color: #646464;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.chat-container {
  height: calc(100vh);
  width: 680px;
  margin: 0 auto;
  padding: 100px 0 120px 0;
}

.chat-wrapper {
  height: 100%;
  background: #fff;
  box-shadow: 1px 1px 16px 7px #e8e8e8;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.messages {
  flex: 1;
  padding: 80px 0 40px 0;
  overflow: scroll;
}

.input-wrapper {
  height: 60px;
  border-top: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  font-size: 16px;
  padding: 7px 40px;
  border: none;
}

.messages .message {
  padding: 0 40px;
  margin-bottom: 20px;
}

.messages .message h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}

.messages .message h3 span {
  color: #999;
  font-style: italic;
}

.onboard {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.onboard input {
  font-size: 32px;
  border: none;
  padding: 0 40px;
}

.header {
  padding: 10px 40px;
  position: fixed;
  width: 680px;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
}

.header h2 {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.header h2 span:first-child {
  flex: 1;
}

.connection-status {
  width: 8px;
  height: 8px;
  background-color: red;
  display: inline-block;
  border-radius: 8px;
}

.connection-status.connected {
  background-color: green;
}

.connected-users {
  color: #999;
  font-style: italic;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}
